
nav{
    
        
        .images{
            
            .img{
                width: 100%;
                display: block;
            }
        }
        ul{
            list-style: none;
            padding: 0;
            li{
                padding: 12px 20px;
                border-radius: 10px;
                margin: 0 10px;
                border: 2px solid gray;
                margin: 20px;
                margin-top: 20px;
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
                cursor: pointer;
                
            }
            .textNone{
                text-decoration: none;
                color: white;
            }
            .textNone1{
                text-decoration: none;
                color: black;
            }
            .BgColor{
                background-color: #F29724;
                border: none;
                color: white !important;
                box-shadow: 0px 5px 15px #F29724;
            }
            li:hover{
                transform: scale(105%);
                box-shadow: none;
            }
        }
    }
    .navbar {
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        height: 100vh;
        background: #fff;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
      }
      
      .open {
        transform: translateX(0);
      }
      
      .closed {
        transform: translateX(-100%);
      }
      
      .toggleButton {
        position: fixed;
        top: 0;
        left: 0;
        background: transparent;
        border: none;
        font-size: 24px;
        color: gray;
        cursor: pointer;
        z-index: 1100;
      }
      

@media screen and (min-width: 669px) {
    .navbar {
      transform: translateX(0) !important;
    }
  
    .toggleButton {
      display: none;
    }
  }